extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
block style
  style.
    body{
      align-items: normal !important;
      justify-content: normal !important;
      padding: 20px
    }