extends layout

block content
    h1 Hello this is main-login page
    form(method='POST' action='/auth/log')
        label(for="login")
            input(type='text' id='login' name='login')
        label(for="password")
            input(type='password' id='password' name='password')
        input(type='submit' value='Log In')
    button
        a(href='/auth/reg') Sign up